.body {
	background: linear-gradient(#2a2a2a 50%, black);
	flex: 0.85;
	height: 100vh;
	overflow: auto;
}

.container {
	padding: 3.5%;
	display: flex;
}

.playlistImg {
	width: 100px;
	height: 100px;
	padding-right: 1.5%;
}

.playlistTitle {
	color: white;
	font-size: 3rem;
}

.songCount {
	color: #bfbfbf;
	font-size: 0.75rem;
}
