.body {
	background: linear-gradient(#373737 -10%, #181818);
	flex: 0.85;
	height: 100vh;
	overflow: auto;
}

.center {
	position: absolute;
	left: 50%;
	top: 40%;
}

.playlistHeader {
	padding: 5%;
}

.button {
	padding: 1rem;
	border: #1db954;
	color: white;
	background-color: #1db954;
	font-weight: 700;
	border-radius: 100px;
	white-space: nowrap;
}

.button:hover {
	color: #2a2a2a;
	transition: 100ms color ease-in;
}
