.login {
	background-color: #121212;
	height: 100vh;
	overflow: auto;
}

.loginElements {
	margin-top: 25vh;
	display: grid;
	place-items: center;
	background-color: #121212;
	gap: 2.5rem;
}

.loginElements > a {
	padding: 1rem;
	background-color: #1db954;
	font-weight: 700;
	color: white;
	border-radius: 100px;
	text-decoration: none;
}

.loginElements > a:hover {
	color: #121212;
	text-decoration: none;
	transition: 100ms color ease-in;
}

.spotifyLoginLogo {
	height: 15vw;
	vertical-align: middle;
}

.loginElements > p {
	color: white;
	font-size: 2rem;
}

@media only screen and (max-width: 850px) {
	.loginElements > p {
		font-size: 1rem;
	}
}
