.playlistHeader {
	display: flex;
	padding: 5%;
}

.playlistTitle {
	color: white;
	font-size: 3rem;
	margin-top: 10px;
}

.playlistImg {
	width: 100px;
	height: 100px;
}

.playlistTitle {
	color: white;
	font-size: 3rem;
}

.songCount {
	color: #bfbfbf;
	font-size: 0.75rem;
}

.playlistHeaderItems {
	padding-left: 1.5%;
}
