.sidebarItem {
	display: flex;
	color: #bfbfbf;
	cursor: pointer;
	transition: 100ms color ease-in;
	padding-left: 7%;
	padding-bottom: 5%;
	font-size: 0.8rem;
}

.sidebarItemSelected {
	background: linear-gradient(to right, black 99%, #1db954 1%);
	display: flex;
	color: white;
	cursor: pointer;
	transition: 100ms color ease-in;
	padding-left: 7%;
	padding-bottom: 5%;
	font-size: 0.8rem;
}

.sidebarItem:hover {
	color: white;
	overflow: visible;
}

.sidebarItemImg {
	display: flex;
}

.sidebarImg {
	height: 40px;
	width: 40px;
}

.sidebarItemImgTxt {
	margin-top: 10px;
	margin-left: 10px;
	font-weight: 700;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebarItemTxt {
	margin-left: 10px;
	font-weight: 700;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
