.sidebarItem {
	display: flex;
	color: #bfbfbf;
	cursor: pointer;
	transition: 100ms color ease-in;
	padding-left: 7%;
	margin-bottom: 5%;
	font-size: 0.8rem;
}

.sidebarItemSelected {
	background: linear-gradient(to left, #282828 98%, #1db954 2%);
	display: flex;
	color: white;
	cursor: pointer;
	transition: 100ms color ease-in;
	padding-left: 7%;
	margin-bottom: 5%;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 10px;
	font-size: 0.8rem;
}

.sidebarItem:hover {
	color: white;
	overflow: visible;
}

.sidebarItemImg {
	display: flex;
	width: 90%;
}

.sidebarImg {
	height: 40px;
	width: 40px;
	margin-top: 5px;
}

.icon {
	margin-top: 10px;
}

.sidebarItemImgTxt {
	margin-top: 12px;
	margin-left: 10px;
	font-weight: 700;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebarItemTxt {
	margin-top: 10px;
	margin-left: 10px;
	font-weight: 700;
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
