.sidebarItem {
	display: flex;
	color: #bfbfbf;
	cursor: pointer;
	transition: 50ms color ease-in;
	padding-left: 7%;
	padding-bottom: 5%;
	font-size: 0.8rem;
}

.sidebarItem:hover {
	color: white;
	overflow: visible;
}

.sidebarItemImg {
	display: flex;
}

.sidebarImg {
	height: 40px;
	width: 40px;
}

.sidebarItemImgTxt {
	margin-top: 10px;
	margin-left: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sidebarItemIcon {
	padding-right: 5%;
}
