.sidebar {
	background-color: black;
	flex: 0.15;
	min-width: 200px;
	height: 100vh;
	overflow-x: auto;
}

.sidebarLogo {
	max-width: 55%;
	height: auto;
	margin: 10%;
}

.sidebar > hr {
	border: 1px solid #282828;
	width: 90%;
	margin: 10px auto;
}

.sidebarTitle {
	margin-left: 15px;
	padding: 5px;
	font-size: 0.75rem;
	color: #bfbfbf;
}
