.track {
	color: white;
	display: grid;
	grid-template-columns: 26% 26% 26% 15% 0%;
	column-gap: 1%;
	padding: 10px 0px 10px 0px;
}

.trackInfo {
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (max-width: 600px) {
	.track {
		display: grid;
		grid-auto-flow: column;
		grid-template-rows: auto auto;
		grid-template-columns: 85%;
	}
	.albumName {
		display: none;
	}
	.duration {
		display: none;
	}
	.artistName {
		font-size: 0.7rem;
	}
}
