.track {
	color: white;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 2fr 1fr;
	column-gap: 2%;
	padding: 2px;
	align-items: center;
}

.mobileTrack {
	display: flex;
	flex-direction: row;
	color: white;
	align-items: center;
	padding-bottom: 16px;
	justify-content: space-between;
}

.trackInfo {
	font-size: 0.8rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.deleteBtn {
	background: none;
	border: none;
	cursor: pointer;
}

.deleteIcon {
	width: 24px;
	height: 24px;
}

@media only screen and (max-width: 600px) {
	.trackInfo {
		font-size: 0.8rem;
		overflow: hidden;
		text-overflow: ellipsis;
		padding-right: 8px;
	}
	.titleName {
		font-size: 1em;
	}

	.artistName {
		font-size: 0.8rem;
		font-weight: 500;
		color: #bfbfbf;
	}

	.albumName {
		font-size: 0.7rem;
		color: #bfbfbf;
		font-weight: 500;
	}
}
