.trackHeader {
	color: white;
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 2fr 1fr;
	column-gap: 2%;
	padding-left: 28px;
	padding-right: 32px;
	padding-bottom: 4px;
	padding-top: 8px;
	background-color: #121212;
}

.trackHeader > h1 {
	font-size: 0.75rem;
	color: #bfbfbf;
}

@media only screen and (max-width: 600px) {
	.trackHeader {
		display: none;
	}
}
