.track {
	color: white;
	display: grid;
	grid-template-columns: 26% 26% 26% 15% 0%;
	column-gap: 1%;
	padding: 10px 0px 10px 0px;
}

.title {
	font-size: 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
